:root {
  --font-family:
    'Roboto', 'Inter', system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue',
    arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-size-standart-text-m: 30px;
  --font-size-standart-text-l: 35px;
  --font-size-bigger-text-xl: 40px;

  --font-color-default: rgba(32, 27, 16, 1);

  --color-default-bg: rgba(252, 226, 255, 1);
  --color-dark-bg: rgba(234, 205, 255, 1);
  --color-high-contrast-bg: rgba(203, 129, 255, 1);

  --color-start-move: rgba(42, 232, 129, 1);
  --color-load: rgba(252, 227, 0, 1);
  --color-access: rgba(212, 250, 230, 1);
  --color-error: rgba(255, 95, 0, 1);
}
