@import url('./css/index.css');

:root {
  font-family: var(--font-family);
  color: var(--font-color-default);
  font-size: var(--font-size-standart-text-m);
  background-color: var(--color-default-bg);
}
